<!--div [@routerTransition]-->
<app-page-header [heading]="'Información visitantes'" [icon]="'fa fa-users'"></app-page-header>

<div class="row">
    <div class="col-xs-3 col-lg-4">
        <div [routerLink]="['/visitantes/registro']" routerLinkActive="router-link-active">
            <div class="card mb-3">
                <div class="col-xs-3  text-xs-center">
                    <div class="card-body">
                        <a href="javascript:void(1)" (click)="MostrarFormvisitante()" value="RegistroVisitante">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            Registro Visitante
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <app-stat [bgClass]="'primary'" [icon]="'fa fa-building-o'" [count]="26" [label]="'Visitantes sin salir'"></app-stat>
    </div>
    <div class="col-xs-3 col-lg-4">
            <div [routerLink]="['/visitantes/ingreso']" routerLinkActive="router-link-active">
        <div class="card mb-3">
            <div class="col-xs-4  text-xs-center">
                <div class="card-body">
                    <a href="javascript:void(1)" (click)="RegistroIngreso()" value="RegistroIngreso">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        Registro Ingreso
                    </a>
                </div>
            </div>
        </div>
    </div>
        <app-stat [bgClass]="'warning'" [icon]="'fa fa-arrow-up'" [count]="12" [label]="'N° de entradas'"></app-stat>
    </div>
    <div class="col-xs-3 col-lg-4">
        <div class="card mb-3">
            <div class="col-xs-3  text-xs-center">
                <div class="card-body">
                    <a href="javascript:void(1)" (click)="RegistroSalida()" value="RegistroSalida">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        Registro Salida
                    </a>
                </div>
            </div>
        </div>
        <app-stat [bgClass]="'success'" [icon]="'fa fa-arrow-down'" [count]="124" [label]="'N° de salidas'"></app-stat>
    </div>
</div>

