<div class="row">
    <div [routerLink]="['/visitantes/registro']" routerLinkActive="router-link-active">
        <div class="card mb-3">
            <div class="col-xs-4 text-xs-center">
                <div class="card-body">
                    <a href="javascript:void(1)" (click)="MostrarFormvisitante()" value="RegistroVisitante">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Registro Visitante
                    </a>
                </div>
            </div>
        </div>
    </div>
    &nbsp; &nbsp;
    <div class="card mb-3">
        <div class="col-xs-4 text-xs-center">
            <div class="card-body">
                <a href="javascript:void(1)" (click)="RegistroIngreso()" value="RegistroIngreso">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    Registro Ingreso
                </a>
            </div>
        </div>
    </div>
    &nbsp; &nbsp;
    <div class="card mb-3">
        <div class="col-xs-4 text-xs-center">
            <div class="card-body">
                <a href="javascript:void(1)" (click)="RegistroSalida()" value="RegistroSalida">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    Registro Salida
                </a>
            </div>
        </div>
    </div>
</div>
