<div style="text-align:center">
  <!--   *ngIf="cropperRes || imageUrl" [src]="cropperRes ||-->

   <div *ngIf="mostrarimagen" class="col-12 col-sm-12 crop-res">
        <img   [src]="cropperRes || imageUrl"  />
    </div>

    <div>
        <webcam
            [height]="300"
            [width]="200"
            [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)"
            *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch"
            [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="2"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
        ></webcam>
        <br />

        <button

        class="btn btn-primary-positive"
        (click)="triggerSnapshot() || mostrarimagen= true"
        onclick="document.getElementById('up7913').disabled=true;document.getElementById('down7913').disabled=false;"
        type="submit"
        name="up7913"
        id="up7913">Tomar Foto</button>
        &nbsp;
        <button
        *ngIf="imageUrl"
        class="btn btn-secondary-negative"
        (click)="toggleWebcam() || mostrarimagen= !mostrarimagen"
        onclick="this.disabled=true;document.getElementById('up7913').disabled=false;"
        type="submit"
        name="down7913"
        id="down7913" >Cambiar Foto </button>
        &nbsp;
        <br />


    </div>
</div>

<h4 *ngIf="errors.length > 0">!</h4>
<ul *ngFor="let error of errors">
    <li>{{ error | json }}</li>
</ul>

<div class="container">

    <div *ngIf="mostrar" class="card text-white mb-3" style="width: 100%;">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12"  >
                <angular-cropper #angularCropper *ngIf="showCropper && imageUrl"
                                    [cropperOptions]="cropperConfig"
                                    [imageUrl]="imageUrl"
                                    (zoom)="zoomManual()"
                                    (ready)="readyImage($event)"
                                    (cropend)="cropendImage($event)">
                </angular-cropper>
                <div *ngIf="!showCropper && imageUrl" class="container-preloader">
                    <div class="dash uno"></div>
                    <div class="dash dos"></div>
                    <div class="dash tres"></div>
                    <div class="dash cuatro"></div>
                </div>
                </div>

          </div>
          <br />
          <button  (click)="destroy($event)" type="button" class="btn btn-primary" data-method="destroy" title="Destroy">
            <span  class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.destroy()">
                <span>Fijar foto</span>
            </span>
        </button>

        </div>
      </div>
    <div class="row" *ngIf="imageUrl" id="actions">
        <div class="col-sm-12">
            <div class="docs-buttons">

<br />

                 <div class="btn-group">
                      <button  (click)="mostrar= !mostrar" class="btn btn-primary btn-block">
                        <span class="fa fa-pencil">Editar</span>
                          </button>
                </div>

            </div>
            <!-- /.docs-buttons -->
        </div>
    </div>
</div>
