<!-- <pre>
        {{persona1}}
        </pre>-->

<div>
    <div class="card mb-3" *ngIf="mostrarFormulario">
        <div class="card-header">Información del Residente</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 text-xs-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="tipo_documento_ddl">Tipo Documento</label>
                                        <select id="tipo_documento_ddl" class="form-control" [(ngModel)]="nuevoResidente.tipo_documento">
                                            <option
                                                *ngFor="let tipoDocumento of _parametricos_srv.getTiposDocumento()"
                                                [ngValue]="tipoDocumento.abbr"
                                                >{{ tipoDocumento.detalle }}</option
                                            >
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="numero_documento">Número de Documento</label>
                                        <input
                                            id="numero_documento"
                                            class="form-control"
                                            type="number"
                                            minlength="6"
                                            [(ngModel)]="nuevoResidente.numero_documento"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="primer_apellido">Primer apellido</label>
                                        <input
                                            id="primer_apellido"
                                            class="form-control"
                                            type="text"
                                            [(ngModel)]="nuevoResidente.primer_apellido"
                                        />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="segundo_apellido">Segundo apellido</label>
                                        <input
                                            id="segundo_apellido"
                                            class="form-control"
                                            type="text"
                                            [(ngModel)]="nuevoResidente.segundo_apellido"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="primer_nombre">Primer nombre</label>
                                        <input
                                            id="primer_nombre"
                                            class="form-control"
                                            type="text"
                                            [(ngModel)]="nuevoResidente.primer_nombre"
                                        />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="segundo_nombre">Segundo nombre</label>
                                        <input
                                            id="segundo_nombre"
                                            class="form-control"
                                            type="text"
                                            [(ngModel)]="nuevoResidente.segundo_nombre"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input class="btn btn-primary" type="button" (click)="guardar()" value="Guardar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
&nbsp; &nbsp;
<div>
    <div class="card mb-3" *ngIf="!mostrarFormulario">
        <div class="card-header">
            Residentes <a href="javascript:void(1)"><i class="fa fa-fw fa-plus" (click)="MostrarFormAgregarResidente()"></i></a>
        </div>
        <div *ngIf="residentes.length > 0" class="card-body table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tipo Doc</th>
                        <th>Numero Documento</th>
                        <th>Apellidos</th>
                        <th>Nombres</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let residente of residentes">
                        <th scope="row">{{ residente.tipo_documento }}</th>
                        <td>{{ residente.numero_documento }}</td>
                        <td>{{ residente.primer_apellido + ' ' + residente.segundo_apellido }}</td>
                        <td>{{ residente.primer_nombre + ' ' + residente.segundo_nombre }}</td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="javascript:void(1)" (click)="editarResidente(residente)" value="edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="javascript:void(1)" (click)="eliminarResidenteModal(contentModalDelete, residente)">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #contentModalDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Residente</h4>
        <button type="button" class="close" aria-label="Close" (click)="d(ModalEliminarOptions.CANCELAR)">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body">
        <p>Esta seguro que desea eliminar el residente?</p>
    </div>
    <div class="modal-footer">
        <button type="button"  class="btn btn-danger" (click)="c(ModalEliminarOptions.ELIMINAR)">Si, eliminar</button>
        <button type="button" ngbAutofocus class="btn btn-secondary" (click)="c(ModalEliminarOptions.CANCELAR)">Cacelar</button>
    </div>
</ng-template>
