$san-lorenzo-verde-oscuro: #078C03;
$san-lorenzo-verde-medio: #0ED907;
$san-lorenzo-verde-claro: #BFF2BD;
$san-lorenzo-claro: #F2E9D8;
$san-lorenzo-oscuro: #0D0D0D;
$san-lorenzo-info:  #05E67E;
$san-lorenzo-danger: #D9077A;
$san-lorenzo-warning:#A65316;


#casillas{
border-color :$san-lorenzo-verde-claro
}

.redondeado{
    border-radius: 5px;
    outline-color: $san-lorenzo-verde-medio
}
#agregar{
    background: $san-lorenzo-verde-medio;
    color: $san-lorenzo-claro;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

//.btn1:hover {
    //background-color: #008CBA;
    //color: white;
//}


