$san-lorenzo-verde-oscuro: #078C03;
$san-lorenzo-verde-medio: #0ED907;
$san-lorenzo-verde-claro: #BFF2BD;
$san-lorenzo-claro: #F2E9D8;
$san-lorenzo-oscuro: #0D0D0D;
$san-lorenzo-info:  #05E67E;
$san-lorenzo-danger: #D9077A;
$san-lorenzo-warning:#A65316;


$topnav-background-color: $san-lorenzo-claro;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: $san-lorenzo-verde-oscuro;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid $san-lorenzo-verde-oscuro;
        color: $san-lorenzo-verde-oscuro;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid $san-lorenzo-verde-medio;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: $san-lorenzo-verde-oscuro;
        background: $topnav-background-color;
        border: 2px solid $san-lorenzo-verde-oscuro;
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: $san-lorenzo-verde-oscuro;
        border: 2px solid $san-lorenzo-verde-oscuro;
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color:$san-lorenzo-verde-claro;
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: $san-lorenzo-verde-medio !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color:$san-lorenzo-verde-claro !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: $san-lorenzo-verde-claro !important;
        }

        input:-ms-input-placeholder {
            color: $san-lorenzo-verde-claro !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid $san-lorenzo-verde-oscuro;
    }
}
