<div class="card text-white bg-success mb-3" style="max-width: 100%;">
  <div class="card-body">
    <h5 id= "conjunto"class="card-title">CONJUNTO MULTIFAMILIAR SAN LORENZO P.H
     CRA 68 D N° 24 A-50       nit 830008327-023</h5>
    <p id="contenido" class="card-text">La siguiente información es de carácter confidencial y reservado. Solamente se autoriza</p>
    <p id="contenido2" class="card-text"> su uso dentro de los programas de seguridad y en caso de desastres .</p>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"  aria-controls="collapseExample" aria-controls="collapseOne">
          Apartamento
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
            <div class="col-xl-6 text-xs-center">
                <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div class="form-group">
                            <label>Seleccione el interior</label>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                            </select>
                        </div>
                    </div>
                <!--/div-->
            </div>
            <div class="col-xl-6 text-xs-center">
                <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div class="form-group">
                            <label>Seleccione el apartamento</label>
                            <select class="form-control">
                                <option>101</option>
                                <option>102</option>
                                <option>103</option>
                                <option>104</option>
                                <option>201</option>
                            </select>
                        </div>
                    </div>
                <!--/div-->
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Propietario
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
            <div class="col-xl-8 text-xs-center">
             <!-- div class="card mb-3"-->
                    <div class="card-body">
                        <div id="propietarionombre" class="form-group">
                            <label class="form-control-label" for="inputSuccess">Nombre y Apellidos</label>
                            <input type="text" class="form-control is-valid" minlength="7" required    id="propietarionombre">
                            <div class="valid-feedback">
                             <!--  Input success
                                message -->
                            </div>
                        </div>

                    </div>
                <!--/div -->
            </div>
            <div class="col-xl-4 text-xs-justify">
                <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="start">Fecha de nacimiento:</label>
                            <input type="date" id="nacimientopropietario" name="nacimientopropietario"
                            value=" "
                            min="1980-12-01" max="2110-12-31">

                      </div>
                    </div>
                <!--/div -->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 text-xs-center">
                <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div id="Ingresocedula" class="form-group">
                            <label class="form-control-label" for="inputSuccess">Numero de cedula</label>
                            <input type="number" class="form-control is-valid" minlength="6" id="cedula">
                            <div class="valid-feedback">
                             <!--  Input success message -->
                            </div>
                        </div>
                    </div>
                <!--/div-->
            </div>
            <div class="col-xl-4 text-xs-center">
                <!--div class="card mb-3"-->
                    <div class="card-body">
                            <div id="expedidacedula" class="form-group">
                                    <label class="form-control-label" for="inputSuccess">Expedida en</label>
                                    <input type="text" class="form-control is-valid" id="cedulaexpedida">
                                    <div class="valid-feedback">
                                     <!--  Input success message -->
                                    </div>
                         </div>
                    </div>
                <!--/div-->
            </div>
            <div class="col-xl-4 text-xs-center">
                <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div id="Numerocelular" class="form-group">
                            <label class="form-control-label" for="inputSuccess">Numero de celular</label>
                            <input type="text" class="form-control is-valid" id="celular">
                            <div class="valid-feedback">
                             <!--  Input success message -->
                            </div>
                        </div>

                    </div>
                <!--/div-->
            </div>
        </div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Residente
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
     <app-registro [residentes]=data.residentes ></app-registro>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingfour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
          Vehiculo
        </button>
      </h2>
    </div>
    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
      <div class="card-body">
            <label>Vehiculo:</label>
            <div class="radio3">
                <label>
                    <input type="radio" name="vehiculo1" id="vehiculo_si" value="vehiculo_si" checked=""> SI
                </label>
            </div>
            <div class="radio3">
                <label>
                    <input type="radio" name="vehiculo1" id="vehiculo_no" value="vehiculo_no"> NO
                </label>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
    <div class="card-header" id="headingfive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
          Mascota
        </button>
      </h2>
    </div>
    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
      <div class="card-body">
            <div class="row">
                    <div class="col-xl-6 text-xs-center">
                        <!--div class="card mb-3"-->
                            <div class="card-body">
                                    <fieldset class="form-group">
                                            <label>Tiene Mascota:</label>
                                            <div class="radio3">
                                                <label>
                                                    <input type="radio" name="mascota" id="mascota_si" value="mascota_si" checked=""> SI
                                                </label>
                                            </div>
                                            <div class="radio3">
                                                <label>
                                                    <input type="radio" name="mascota" id="mascota_no" value="mascota_no"> NO
                                                </label>
                                            </div>
                                        </fieldset>
                            </div>
                        <!--/div-->
                    </div>
                    <div class="col-xl-6 text-xs-center">
                        <!--div class="card mb-3"-->
                            <div class="card-body">
                                    <div id="razamascota" class="form-group">
                                            <label class="form-control-label" for="inputSuccess">Raza</label>
                                               <input type="text" class="form-control is-valid" id="razamascota">
                                               <div class="valid-feedback">
                                                <!--  Input success message -->
                                                </div>
                                               </div>
                                               <div id="clasemascota" class="form-group">
                                                    <label class="form-control-label" for="inputSuccess">Clase</label>
                                                       <input type="text" class="form-control is-valid" id="clasemascota">
                                                       <div class="valid-feedback">
                                                        <!--  Input success message -->
                                                        </div>
                                                       </div>
                            </div>
                        <!--/div-->
                    </div>
                </div>



      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingsix">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
          Servicio Domestico
        </button>
      </h2>
    </div>
    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
      <div class="card-body">
            <div class="row">
                    <div class="col-xl-6 text-xs-center">
                        <!--div class="card mb-3"-->
                            <div class="card-body">
                                    <fieldset class="form-group">
                                            <label>Servicio domestico:</label>
                                            <div class="radio4">
                                                <label>
                                                    <input type="radio" name="servdomestico" id="domestico_si" value="domestico_si" checked=""> SI
                                                </label>
                                            </div>
                                            <div class="radio4">
                                                <label>
                                                    <input type="radio" name="servdomestico" id="domestico_no" value="domestico_si"> NO
                                                </label>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group">
                                                <label>Tipo servicio:</label>
                                                <div class="radio5">
                                                    <label>
                                                        <input type="radio" name="servtipo" id="interno" value="interno" checked=""> Interno
                                                    </label>
                                                </div>
                                                <div class="radio5">
                                                    <label>
                                                        <input type="radio" name="servtipo" id="externo" value="interno"> Externo
                                                    </label>
                                                </div>
                                            </fieldset>

                            </div>
                        <!--/div-->
                    </div>
                    <div class="col-xl-6 text-xs-center">
                        <!--div class="card mb-3"-->
                            <div class="card-body">
                                    <div id="servicionombre" class="form-group">
                                            <label class="form-control-label" for="inputSuccess">Nombre y Apellidos</label>
                                             <input type="text" class="form-control is-valid" id="nombreservicio">
                                              <div class="valid-feedback">
                                                  <!--  Input success message -->
                                              </div>
                    <div id="serviciocedula" class="form-group">
                        <label class="form-control-label" for="inputSuccess">Numero de cedula</label>
                        <input type="text" class="form-control is-valid" id="cedulaservicio">
                        <div class="valid-feedback">
                         <!--  Input success message -->
                        </div>
                      </div>
                    </div>
                            </div>
                        <!--/div-->
                    </div>
                </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingseven">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
          Contacto Emergencia
        </button>
      </h2>
    </div>
    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
      <div class="card-body">
            <div class="row">
                    <div class="col-xl-4 text-xs-center">
                        <!--div class="card mb-3"-->
                            <div class="card-body">
                                    <div id="Emergencianombre" class="form-group">
                                            <label class="form-control-label" for="inputSuccess">Nombre y Apellidos</label>
                                             <input type="text" class="form-control is-valid" id="nombreemergencia">
                                              <div class="valid-feedback">
                                                  <!--  Input success message -->
                                              </div>
                                                </div>
                            </div>
                        <!--/div-->
                    </div>
                    <div class="col-xl-4 text-xs-center">
                        <!--div class="card mb-3"-->
                            <div class="card-body">
                                    <div id="celularemergencia" class="form-group">
                                            <label class="form-control-label" for="inputSuccess">Numero de celular</label>
                                            <input type="text" class="form-control is-valid" id="emergenciacelular">
                                            <div class="valid-feedback">
                                             <!--  Input success message -->
                                            </div>
                                        </div>
                            </div>
                        <!--/div-->
                    </div>
                    <div class="col-xl-4 text-xs-center">
                        <!--div class="card mb-3"-->
                            <div class="card-body">
                                    <div id="telefonoemergencia" class="form-group">
                                            <label class="form-control-label" for="inputSuccess">Numero de Telefono</label>
                                            <input type="text" class="form-control is-valid" id="emergenciatelefono">
                                            <div class="valid-feedback">
                                             <!--  Input success message -->
                                            </div>
                                        </div>

                            </div>
                        <!--/div-->
                    </div>
                </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingeight">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
         Inmobiliaria
        </button>
      </h2>
    </div>
    <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

<!-- <div>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Página principal
  </a>
 </div> -->




