<div class="card text-white bg-primary mb-3">
    <div class="card-body">
        <h1 align="center"> <img class="logoformulario" src="/assets/images/logoph2.png" alt="" /> </h1>
        <h4 class="card-title">
            CONJUNTO MULTIFAMILIAR SAN LORENZO P.H CRA 68 D N° 24 A-50 nit 830008327-0
        </h4>
        <p class="card-text">
            La siguiente información es de carácter confidencial y reservada. Solamente se autoriza su uso dentro de los
            programas de
            seguridad y en caso de desastres.
        </p>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <form class="form" #propietarioForm="ngForm" novalidate>

        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false"  aria-controls="collapseOne">
                        Apartamento
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 text-xs-center">
                            <!--div class="card mb-3"-->
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Seleccione el interior</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                    </select>
                                </div>
                            </div>
                            <!--/div-->
                        </div>
                        <div class="col-xl-4 text-xs-center">
                            <!--div class="card mb-3"-->
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Seleccione el apartamento</label>
                                    <select class="form-control">
                                        <option>101</option>
                                        <option>102</option>
                                        <option>103</option>
                                        <option>104</option>
                                        <option>201</option>
                                    </select>
                                </div>
                            </div>
                            <!--/div-->
                        </div>
                        <div class="col-xl-4 text-xs-center">
                                <!--div class="card mb-3"-->
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Seleccione el Deposito</label>
                                        <select class="form-control">
                                            <option>7</option>
                                            <option>6c</option>
                                            <option>2a</option>
                                            <option>10</option>
                                            <option>no aplica</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/div-->
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Propietario
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="row">
                        <div class="col-xl-8 text-xs-center">
                            <!-- div class="card mb-3"-->
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="nombres_apellidos">Nombre y Apellidos</label>
                                    <input tabindex="1"
                                    class="form-control" [(ngModel)]="propietario.nombres_apellidos"
                                        #nombres_apellidos="ngModel" (change)="log(nombres_apellidos)" required
                                        pattern="[a-zA-Z ]*$" name="nombres_apellidos" type="text" minlength="12"
                                        id="nombres_apellidos" />
                                    <div class="alert alert-danger"
                                        *ngIf="nombres_apellidos.touched && nombres_apellidos.invalid">
                                        <div *ngIf="nombres_apellidos.errors.required">*El campo es
                                            requerido</div>
                                        <div *ngIf="nombres_apellidos.errors.minlength">
                                            *El campo debe tener minimo
                                            {{ nombres_apellidos.errors.minlength.requiredLength }}
                                            caracteres
                                        </div>
                                        <div *ngIf="nombres_apellidos.errors.pattern">
                                            *Este campo no acepta numeros
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/div -->
                        </div>
                        <div class="col-xl-4 text-xs-justify">
                            <!--div class="card mb-3"-->
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="fecha_nacimiento">Fecha de nacimiento</label>
                                    <input 
                                    tabindex="2"
                                    class="form-control" 
                                    [(ngModel)]="propietario.fecha_nacimiento" 
                                    required
                                        type="date" 
                                        id="fecha_nacimiento" 
                                        name="fecha_nacimiento"
                                        #fecha_nacimiento="ngModel" 
                                        (change)="log(fecha_nacimiento)" 
                                        min="1980-12-01"
                                        max="2110-12-31" />
                                    <div class="alert alert-danger"
                                        *ngIf="fecha_nacimiento.touched && fecha_nacimiento.invalid">
                                        <div *ngIf="fecha_nacimiento.errors.required">*El campo es
                                            requerido</div>
                                        <div *ngIf="fecha_nacimiento.errors.minlength">
                                            *El campo debe tener minimo
                                            {{ fecha_nacimiento.errors.minlength.requiredLength }}
                                            caracteres
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/div -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 text-xs-center">
                           
                            <div class="card-body">
                                    <div class="form-group">
                                            <label for="tipo_documento_vis">Tipo Documento</label>
                                            <select tabindex="3" class="form-control"
                                                [(ngModel)]="propietario.tipo_documento" required
                                                name="tipo_documento_vis" #tipo_documento_vis="ngModel"
                                                (change)="log(tipo_documento_vis)" id="tipo_documento_vis">
                                                <option value="">Seleccione</option>
                                                <option *ngFor="let tipoDocumento of tipos_documento"
                                                    [ngValue]="tipoDocumento.id">
                                                    {{ tipoDocumento.name }}</option>

                                                <!-- <option
                                                        *ngFor="let tipoDocumento of _parametricos_srv.getTiposDocumento()"
                                                        [ngValue]="tipoDocumento.abbr">
                                                        {{ tipoDocumento.detalle }}</option> -->

                                            </select>
                                            <div class="alert alert-danger"
                                                *ngIf="tipo_documento_vis.touched && tipo_documento_vis.invalid">
                                                <div *ngIf="tipo_documento_vis.errors.required">*El campo es
                                                    requerido</div>
                                            </div>
                                        </div>
                            </div>
                          
                        </div>
                       
                       
                        <div class="col-xl-3 text-xs-center">
                            <!--div class="card mb-3"-->
                            <div class="card-body">
                                    <div class="form-group">
                                            <label for="numero_documento">Numero de documento</label>
                                            <input 
                                            tabindex="4"
                                            class="form-control" [(ngModel)]="propietario.numero_documento" required
                                                pattern="^[0-9]*$" type="text" #numero_documento="ngModel" minlength="6"
                                                maxlength="10" name="numero_documento" (change)="log(numero_documento)"
                                                id="numero_documento" />
        
                                            <div class="alert alert-danger"
                                                *ngIf="numero_documento.touched && numero_documento.invalid">
                                                <div *ngIf="numero_documento.errors.required">*El campo es
                                                    requerido</div>
                                                <div *ngIf="numero_documento.errors.minlength">
                                                    *El campo debe tener minimo
                                                    {{ numero_documento.errors.minlength.requiredLength }}
                                                    caracteres
                                                </div>
                                                <div *ngIf="numero_documento.errors.pattern">
                                                    *Este campo no acepta texto ni espacios
                                                </div>
                                            </div>
        
                                        </div>
                                
                            </div>
                            <!--/div-->
                        </div>
                        
                        <div class="col-xl-3 text-xs-center">
                                <!--div class="card mb-3"-->
                                <div class="card-body">
                                        <div class="form-group">
                                                <label >Lugar de expedición</label>
                                                <br>
                                                <label for="departamento_expedicion">Departamento ({{propietario.departamento_expedicion}})</label>
                                                <select 
                                                tabindex="5" class="form-control"
                                                    [(ngModel)]="propietario.departamento_expedicion" 
                                                    required
                                                    name="departamento_expedicion"
                                                     type="text"
                                                    #departamento_expedicion="ngModel"
                                                    id="departamento_expedicion"
                                                    (change)="departamentoChange()"
                                                    >
                                                    <option value="">Seleccione</option>
    
                                                    <option *ngFor="let departamento of opcion_departamentos"
                                                        [ngValue]="departamento.codigo">
                                                        {{ departamento.nombre }}</option>
                                                </select>
    
                                                <div class="alert alert-danger"
                                                    *ngIf="departamento_expedicion.touched && departamento_expedicion.invalid">
                                                    <div *ngIf="departamento_expedicion.errors.required">*El
                                                        campo es requerido
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-xl-3 text-xs-center">
                                        <div class="card-body">
                                <div class="form-group">
                                        <label for="municipio_expedicion">Municipio</label>
                                        <select tabindex="6" class="form-control"
                                            [(ngModel)]="propietario.municipio_expedicion" required
                                            name="municipio_expedida" type="text"
                                            #municipio_expedicion="ngModel" id="municipio_expedicion">
                                            <option value="">Seleccione</option>
                                            <option *ngFor="let municipios of opcion_municipios"
                                                [ngValue]="municipios.codigo">
                                                {{ municipios.nombre }}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="municipio_expedicion.touched && municipio_expedicion.invalid">
                                            <div *ngIf="municipio_expedicion.errors.required">*El campo
                                                es requerido
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 text-xs-center">
                                    <div class="card-body">
                                    <div class="form-group">
                                            <label for="email">Email</label>&nbsp;
                                            <input tabindex="7" class="form-control" type="email" required
                                                email [(ngModel)]="propietario.email" name="email"
                                                #email="ngModel" id="email" />
                                            <div class="alert alert-danger"
                                                *ngIf="email.touched && email.invalid">
                                                <div *ngIf="email.errors.required">*El campo es requerido
                                                </div>
                                                <div *ngIf="email.errors.email">ingrese un correo valido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-xl-4 text-xs-center">
                                    <div class="card-body">
                            <div  class="form-group">
                                    <label for="numero_celular">Numero de celular</label>
                                    <input
                                    tabindex="8"
                                    class="form-control"
                                    [(ngModel)]="propietario.numero_celular"
                                    required
                                    pattern="^[0-9]*$"
                                    minlength="10"
                                    maxlength="10"
                                    name="numero_celular"
                                    type="text"
                                    #numero_celular="ngModel"
                                    (change)="log(numero_celular)"
                                    id="numero_celular" />
                                    <div class="alert alert-danger"
                                    *ngIf="numero_celular.touched && numero_celular.invalid">
                                    <div *ngIf="numero_celular.errors.required">*El campo es
                                      requerido</div>
                                    <div *ngIf="numero_celular.errors.minlength">
                                     *El campo debe tener minimo
                                        {{ numero_celular.errors.minlength.requiredLength }}
                                          caracteres
                                         </div>
                                        <div *ngIf="numero_celular.errors.pattern">
                                       *Este campo no acepta texto ni espacios
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Residentes &nbsp; <span class="badge badge-primary">{{ data.residentes.length }}</span>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <app-registro [residentes]="data.residentes"></app-registro>
                </div>
            </div>
        </div>
     
        <div class="card">
            <div class="card-header" id="headingfour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        Vehiculo &nbsp; <span class="badge badge-primary">{{ data.vehiculos.length }}</span>
                    </button>
                </h2>
            </div>
            <div id="collapsefour" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6 text-xs-center">
                                <!--div class="card mb-3"-->
                                <div class="card-body">
                                    <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-sm-4" >
                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                            <input
                                                                                type="radio"
                                                                                [(ngModel)]="vehiculo.opciones_vehiculo"
                                                                                #positivo="ngModel"
                                                                                value="positivo"
                                                                                id="positivo"
                                                                                name="opciones_vehiculo"
                                                                                (change)="log(positivo); change_opciones_vehiculo"
                                                                                class="custom-control-input"
                                                                                required

                                                                            />
                                                                            <label class="custom-control-label" for="positivo">Si</label>
                                                                        </div>
                                                                    </div>
                                                            <div class="col-sm-4">
                                                                <div class="custom-control custom-radio custom-control-inline " *ngIf="!mostrarvehiculo" >
                                                                    <input
                                                                    type="radio"
                                                                    [(ngModel)]="vehiculo.opciones_vehiculo"
                                                                    #negativo="ngModel"
                                                                    value="negativo"
                                                                    id="negativo"
                                                                    name="opciones_vehiculo"
                                                                    (change)="log(negativo); change_opciones_vehiculo"
                                                                    class="custom-control-input"
                                                                   required
                                                                    />
                                                                    <label class="custom-control-label" for="negativo">No</label>
                                                                </div>
                                                            </div>

                                                        </div>
                                </div>
                                </div>
                                <!--/div-->
                            </div>
                           
                                
                            
                            <div class="col-sm-12" *ngIf="vehiculo.opciones_vehiculo == 'positivo' ">
                                        <div class="card-body">
                                            <app-vehiculo [vehiculos]="data.vehiculos"></app-vehiculo>
                                    </div>
                                
                        </div>
                    </div>
                </div>
        </div>
    </div>

    </form>

</div>
<div class="card">
    <div class="card-header" id="headingfive">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive"
                aria-expanded="false" aria-controls="collapsefive">
                Mascota
            </button>
        </h2>
    </div>
    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6 text-xs-center">
                    <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4" >
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input
                                                type="radio"
                                                [(ngModel)]="mascota.opciones_mascota"
                                                #si="ngModel"
                                                value="si"
                                                id="si"
                                                name="opciones_mascota"
                                                (change)="log(si); change_opciones_mascota"
                                                class="custom-control-input"
                                                required

                                            />
                                            <label class="custom-control-label" for="si">Si</label>
                                        </div>
                                    </div>
                            <div class="col-sm-4">
                                <div class="custom-control custom-radio custom-control-inline " *ngIf="!mostrarmascota" >
                                    <input
                                    type="radio"
                                    [(ngModel)]="mascota.opciones_mascota"
                                    #no="ngModel"
                                    value="no"
                                    id="no"
                                    name="opciones_mascota"
                                    (change)="log(no); change_opciones_mascota"
                                    class="custom-control-input"
                                   required
                                    />
                                    <label class="custom-control-label" for="no">No</label>
                                </div>
                            </div>


                        </div>
                    </div>

                    </div>
                    <!--/div-->
                </div>
                <div class="col-sm-12" *ngIf="mascota.opciones_mascota == 'si' ">
                    <div class="card mb-3" >
                        <div class="card-header" >Datos mascota</div>
                        <div class="card-body">
                            <div class="row">


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="raza">raza</label>
                                        <input
                                            class="form-control"
                                            [(ngModel)]="mascota.raza"
                                            required
                                            pattern="[a-zA-Z]*$"
                                             minlength="4"
                                             maxlength="8"
                                            name="raza"
                                            type="text"
                                            #raza="ngModel"
                                            (change)="log(raza)"
                                            id="raza" />
                                        <div class="alert alert-danger"
                                            *ngIf="raza.touched && raza.invalid">
                                            <div *ngIf="raza.errors.required">*El campo es requerido
                                            </div>
                                            <div *ngIf="raza.errors.minlength">
                                                *El campo debe tener minimo
                                                {{ raza.errors.minlength.requiredLength }} caracteres
                                            </div>
                                            <div *ngIf="raza.errors.pattern">
                                                *Este campo no acepta numeros ni espacios
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="clase">clase</label>
                                        <input  class="form-control"
                                            [(ngModel)]="mascota.clase" required pattern="[a-zA-Z]*$"
                                            minlength="4" maxlength="8" name="clase" type="text"
                                            #clase="ngModel" (change)="log(clase)" id="clase" />
                                        <div class="alert alert-danger"
                                            *ngIf="clase.touched && clase.invalid">
                                            <div *ngIf="clase.errors.required">*El campo es requerido
                                            </div>
                                            <div *ngIf="clase.errors.minlength">
                                                *El campo debe tener minimo
                                                {{ clase.errors.minlength.requiredLength }} caracteres
                                            </div>
                                            <div *ngIf="clase.errors.pattern">
                                                *Este campo no acepta numeros ni espacios
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingsix">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsesix"
                aria-expanded="false" aria-controls="collapsesix">
                Servicio Domestico
            </button>
        </h2>
    </div>
    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6 text-xs-center">
                    <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4" >
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input
                                                type="radio"
                                                [(ngModel)]="serviciodomestico.opciones_servicio"
                                                #aplica="ngModel"
                                                value="aplica"
                                                id="aplica"
                                                name="opciones_servicio"
                                                (change)="log(aplica); change_opciones_servicio"
                                                class="custom-control-input"
                                                required

                                            />
                                            <label class="custom-control-label" for="aplica">Si</label>
                                        </div>
                                    </div>
                            <div class="col-sm-4">
                                <div class="custom-control custom-radio custom-control-inline " *ngIf="!mostrarservicio" >
                                    <input
                                    type="radio"
                                    [(ngModel)]="serviciodomestico.opciones_servicio"
                                    #noaplica="ngModel"
                                    value="noaplica"
                                    id="noaplica"
                                    name="opciones_servicio"
                                    (change)="log(noaplica); change_opciones_servicio"
                                    class="custom-control-input"
                                   required
                                    />
                                    <label class="custom-control-label" for="noaplica">No</label>
                                </div>
                            </div>


                        </div>
                    </div>
                    </div>
                    <!--/div-->
                </div>
                <div class="col-sm-12" *ngIf="serviciodomestico.opciones_servicio == 'aplica' ">
                    <div class="card mb-3" >
                        <div class="card-header" >Datos servicio domestico</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nombresApellidos">Nombre y apellidos</label>
                                        <input
                                            
                                            class="form-control"
                                            [(ngModel)]="serviciodomestico.nombres_apellidos"
                                            required
                                            pattern="[a-zA-Z]*$"
                                             minlength="4"
                                             maxlength="8"
                                            name="nombres_apellidos"
                                            type="text"
                                            #nombres_apellidos="ngModel"
                                            (change)="log(nombres_apellidos)"
                                            id="nombresApellidos" />
                                        <div class="alert alert-danger"
                                            *ngIf="nombres_apellidos.touched && nombres_apellidos.invalid">
                                            <div *ngIf="nombres_apellidos.errors.required">*El campo es requerido
                                            </div>
                                            <div *ngIf="nombres_apellidos.errors.minlength">
                                                *El campo debe tener minimo
                                                {{ nombres_apellidos.errors.minlength.requiredLength }} caracteres
                                            </div>
                                            <div *ngIf="nombres_apellidos.errors.pattern">
                                                *Este campo no acepta numeros ni espacios
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="numeroDocumento">Numero de documento</label>
                                        <input  class="form-control"
                                            [(ngModel)]="serviciodomestico.numero_documento" required pattern="[a-zA-Z]*$"
                                            minlength="4" maxlength="8" name="numero_documento" type="text"
                                            #numero_documento="ngModel" (change)="log(numero_documento)" id="numeroDocumento" />
                                        <div class="alert alert-danger"
                                            *ngIf="numero_documento.touched && numero_documento.invalid">
                                            <div *ngIf="numero_documento.errors.required">*El campo es requerido
                                            </div>
                                            <div *ngIf="numero_documento.errors.minlength">
                                                *El campo debe tener minimo
                                                {{ numero_documento.errors.minlength.requiredLength }} caracteres
                                            </div>
                                            <div *ngIf="numero_documento.errors.pattern">
                                                *Este campo no acepta numeros ni espacios
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingseven">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseseven"
                aria-expanded="false" aria-controls="collapseseven">
                Contacto Emergencia
            </button>
        </h2>
    </div>
    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-4 text-xs-center">
                    <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="contacto_emergencia">Nombre y Apellidos</label>
                            <input
                            class="form-control"
                            [(ngModel)]="contactoemergencia.contacto_emergencia"
                                #contacto_emergencia="ngModel"
                                required
                                pattern="[a-zA-Z ]*$"
                                name="contacto_emergencia"
                                type="text"
                                minlength="12"
                                id="contacto_emergencia" />
                            <div class="alert alert-danger"
                                *ngIf="contacto_emergencia.touched && contacto_emergencia.invalid">
                                <div *ngIf="contacto_emergencia.errors.required">*El campo es
                                    requerido</div>
                                <div *ngIf="contacto_emergencia.errors.minlength">
                                    *El campo debe tener minimo
                                    {{ contacto_emergencia.errors.minlength.requiredLength }}
                                    caracteres
                                </div>
                                <div *ngIf="contacto_emergencia.errors.pattern">
                                    *Este campo no acepta numeros
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/div-->
                </div>
                <div class="col-xl-4 text-xs-center">
                    <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div  class="form-group">
                            <label for="celular_emergencia">Numero de celular</label>
                            <input
                           
                            class="form-control"
                            [(ngModel)]="contactoemergencia.celular_emergencia"
                            required
                            pattern="^[0-9]*$"
                            minlength="10"
                            maxlength="10"
                            name="celular_emergencia"
                            type="text"
                            #celular_emergencia="ngModel"
                            id="celular_emergencia" />
                            <div class="alert alert-danger"
                            *ngIf="celular_emergencia.touched && celular_emergencia.invalid">
                            <div *ngIf="celular_emergencia.errors.required">*El campo es
                              requerido</div>
                            <div *ngIf="celular_emergencia.errors.minlength">
                             *El campo debe tener minimo
                                {{ celular_emergencia.errors.minlength.requiredLength }}
                                  caracteres
                                 </div>
                                <div *ngIf="celular_emergencia.errors.pattern">
                               *Este campo no acepta texto ni espacios
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--/div-->
                </div>
                <div class="col-xl-4 text-xs-center">
                    <!--div class="card mb-3"-->
                    <div class="card-body">
                        <div  class="form-group">
                            <label for="telefono_emergencia">Numero de telefono</label>
                            <input
                            class="form-control"
                            [(ngModel)]="contactoemergencia.telefono_emergencia"
                            minlength="10"
                            maxlength="10"
                            name="telefono_emergencia"
                            type="text"
                            #telefono_emergencia="ngModel"
                            id="telefono_emergencia" />

                        </div>
                    </div>
                    <!--/div-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingeight">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseeight"
                aria-expanded="false" aria-controls="collapseeight">
                Inmobiliaria
            </button>
        </h2>
    </div>
    <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
            <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 text-xs-center">
                            <!--div class="card mb-3"-->
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4" >
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input
                                                        type="radio"
                                                        [(ngModel)]="inmobiliaria.opciones_inmobiliaria"
                                                        #valido="ngModel"
                                                        value="valido"
                                                        id="valido"
                                                        name="opciones_inmobiliaria"
                                                        (change)="log(valido); change_opciones_inmobiliaria"
                                                        class="custom-control-input"
                                                        required

                                                    />
                                                    <label class="custom-control-label" for="valido">Si</label>
                                                </div>
                                            </div>
                                    <div class="col-sm-4">
                                        <div class="custom-control custom-radio custom-control-inline " *ngIf="!mostrarinmobiliaria" >
                                            <input
                                            type="radio"
                                            [(ngModel)]="inmobiliaria.opciones_inmobiliaria"
                                            #novalido="ngModel"
                                            value="novalido"
                                            id="novalido"
                                            name="opciones_inmobiliaria"
                                            (change)="log(novalido); change_opciones_inmobiliaria"
                                            class="custom-control-input"
                                           required
                                            />
                                            <label class="custom-control-label" for="novalido">No</label>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            </div>
                            <!--/div-->
                        </div>
                        <div class="col-sm-12" *ngIf="inmobiliaria.opciones_inmobiliaria == 'valido' ">
                            <div class="card mb-3" >
                                <div class="card-header" >Datos Inmobiliaria</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="razon_social">Razon social</label>
                                                <input
                                                    class="form-control"
                                                    [(ngModel)]="inmobiliaria.razon_social"
                                                    required
                                                    pattern="[a-zA-Z]*$"
                                                     minlength="4"
                                                     maxlength="8"
                                                    name="razon_social"
                                                    type="text"
                                                    #razon_social="ngModel"
                                                    (change)="log(razon_social)"
                                                    id="razon_social" />
                                                <div class="alert alert-danger"
                                                    *ngIf="razon_social.touched && razon_social.invalid">
                                                    <div *ngIf="razon_social.errors.required">*El campo es requerido
                                                    </div>
                                                    <div *ngIf="razon_social.errors.minlength">
                                                        *El campo debe tener minimo
                                                        {{ razon_social.errors.minlength.requiredLength }} caracteres
                                                    </div>
                                                    <div *ngIf="razon_social.errors.pattern">
                                                        *Este campo no acepta numeros ni espacios
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
<div class="card">
        <div class="card-header" id="headingnine">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsenine"
                    aria-expanded="false" aria-controls="collapseExample" aria-controls="collapsenine">
                    Administración
                </button>
            </h2>
        </div>
     <!--    class="collapse show" esta clase deja por defecto un collapse abierto-->
        <div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordionExample">
            <div class="card-body">
                <label>Seleccione el responsable del pago de la administración</label>
                <br>
                <br>
                <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4" >
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input
                                            type="radio"
                                            [(ngModel)]="administracion.responsable_pago"
                                            #apoderado="ngModel"
                                            value="apoderado"
                                            id="apoderado"
                                            name="responsable_pago"
                                            (change)="log(apoderado)"
                                            class="custom-control-input"
                                            required

                                        />
                                        <label class="custom-control-label" for="apoderado">Propietario</label>
                                    </div>
                                </div>
                        <div class="col-sm-4">
                            <div class="custom-control custom-radio custom-control-inline " >
                                <input
                                type="radio"
                                [(ngModel)]="administracion.responsable_pago"
                                #arrendatario="ngModel"
                                value="arrendatario"
                                id="arrendatario"
                                name="responsable_pago"
                                (change)="log(arrendatario)"
                                class="custom-control-input"
                               required
                                />
                                <label class="custom-control-label"
                                    for="arrendatario">Arrendatario</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input
                                type="radio"
                                [(ngModel)]="administracion.responsable_pago"
                                #inmobiliaria="ngModel"
                                value="inmobiliaria"
                                id="inmobiliaria"
                                name="responsable_pago"
                                (change)="log(inmobiliaria)"
                                    class="custom-control-input"
                                    required
                                     />
                                <label class="custom-control-label" for="inmobiliaria">Inmobiliaria</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
